{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Entrance Master - CA Courses</title>
    <meta name="description" content="Entrance Master offers a range of CA courses to prepare students for exams.">
    <meta name="author" content="Entrance Master">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'assets/logo.jpg' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'assets/logo.jpg' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'assets/style.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
</head>

<body class="host_version">

    <!-- Start header -->
    <header class="top-navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <!-- Your Logo Image or Text Here -->
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host"
                    aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbars-host">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'main:about' %}">About Us</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Courses</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown-a">
                                <a class="dropdown-item" href="{% url 'main:course_grid_2' %}">Medical Courses</a>
                                <a class="dropdown-item" href="{% url 'main:course_grid_3' %}">CA Courses</a>
                                <a class="dropdown-item" href="{% url 'main:course_grid_4' %}">Other Courses</a>
                            </div>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'main:team' %}">Team</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'main:signin' %}">Login/Register</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- End header -->

    <!-- Page Title Section -->
    <div class="all-title-box">
        <div class="container text-center">
            <h1>CA Courses</h1>
        </div>
    </div>
    <!-- End Page Title Section -->

    <!-- Course Section -->
    <div id="course-section" class="section wb">
        <div class="container">
            <div class="section-title row text-center">
                <div class="col-md-8 offset-md-2">
                    <p class="lead">Explore our CA courses designed to help you excel in your exams.</p>
                </div>
            </div>

            <div class="row">
                {% for ca_course in ca_courses %}
                <div class="col-lg-6 col-md-6 col-12 mb-4">
                    <div class="course-item">
                        <div class="image-blog">
                            <img src="{{ ca_course.image.url }}" alt="{{ ca_course.title }}" class="img-fluid">
                        </div>
                        <div class="course-br">
                            <div class="course-title">
                                <h2><a href="#" onclick="redirectToLogin()">{{ ca_course.title }}</a></h2>
                            </div>
                            <div class="course-desc">
                                <p>{{ ca_course.description }}</p>
                                <!-- You may add more details specific to CA courses here -->
                            </div>
                            <div class="course-rating">
                                <!-- Your Rating Display Here -->
                            </div>
                        </div>
                        <div class="course-meta-bot">
                            <ul>
                                <li><i class="fa fa-calendar" aria-hidden="true"></i> Duration: {{ ca_course.duration_months }} Months</li>
                                <li><i class="fa fa-users" aria-hidden="true"></i> Seats: {{ ca_course.seats_available }}</li>
                                <li><i class="fa fa-user" aria-hidden="true"></i> Team Members: {{ ca_course.team_members }}</li>
                                <li><i class="fa fa-money" aria-hidden="true"></i> Price: Rs{{ ca_course.price }}/-</li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- End Course Section -->

    <!-- Footer Section -->
    <footer class="footer">
        <!-- Footer Content -->
    </footer>
    <!-- End Footer Section -->

    <!-- Go to Top Button -->
    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- JavaScript Files -->
    <script src="{% static 'assets/js/all.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script>
        function redirectToLogin() {
            alert("Please login to continue.");
            window.location.href = "{% url 'main:signin' %}";
        }
    </script>
</body>

</html>
