{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
     <!-- Site Metas -->
    <title>Entrance Master-Tutors</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'assets/logo.jpg' %}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{% static 'assets/logo.jpg' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'assets/style.css' %}">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/versions.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">

    <!-- Modernizer for Portfolio -->
    <script src="{% static 'assets/js/modernizer.js' %}"></script>
    <style>
			.team-img img.rounded-square {
    width: 150px; /* Set your preferred width */
    height: 150px; /* Set your preferred height */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    border-radius: 50%; /* Make it a circle */
}
		</style>

</head>
<body class="host_version"> 




 <!-- Start header -->
 <header class="top-navbar">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">
				
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbars-host">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item active"><a class="nav-link" href="{% url 'main:about' %}">About Us</a></li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Course </a>
						<div class="dropdown-menu" aria-labelledby="dropdown-a">
							<a class="dropdown-item" href="{% url 'main:course_grid_2' %}">Medical course</a>
							<a class="dropdown-item" href="{% url 'main:course_grid_3' %}">CA course </a>
							<a class="dropdown-item" href="{% url 'main:course_grid_4' %}">Other course </a>
						</div>
					</li>
				
					<li class="nav-item"><a class="nav-link" href="{% url 'main:team' %}">Team</a></li>
					
				
					<li class="nav-item"><a class="nav-link" href="{% url 'main:signin' %}">Login/Register</a></li>
				</ul>
				
			</div>
		</div>
	</nav>
</header>
<!-- End header -->

	
	<div class="all-title-box">
		<div class="container text-center">
			<h1>Our Team</h1>
		</div>
	</div>
	
	<div id="teachers" class="section wb">
		<div class="container">
				<div class="row">
						{% for member in team_members %}
						<div class="col-lg-3 col-md-6 col-12">
								<div class="our-team">
										<div class="team-img">
												<img src="{{ member.image.url }}" alt="{{ member.name }}" class="rounded-square">
												<div class="social">
														<ul>
																<li><a href="{{ member.whatsapp_link }}" class="fa fa-whatsapp"></a></li>
														</ul>
												</div>
										</div>
										<div class="team-content">
												<h3 class="title">{{ member.name }}</h3>
												<span class="post">{{ member.role }}</span>
										</div>
								</div>
						</div>
						{% endfor %}
				</div>
		</div>
</div>


    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>About US</h3>
                        </div>
                        <p>Entrance Master is one of the leading<br> educational platforms providing virtual classes, mainly for NEB / Common Entrance Examinations, Chartered Accountancy, and other courses.

                            Producing thousands of successful students in every batch, EM is offering multiple courses at a minimal cost with renowned professional tutors.
                            
                            Join us on this revolutionary educational journey.</p>   
						<div class="footer-right">
							<ul class="footer-links-soi">
								<li><a href="https://www.facebook.com/people/Entrance-Master/61553562205688/?mibextid=ZbWKwL"><i class="fa fa-facebook"></i></a></li>
								<li><a href="https://www.youtube.com/@Sulav_acharya"><i class="fa fa-youtube"></i></a></li>
								<li><a href="https://www.youtube.com/@Sulav_acharya"><i class="fa fa-youtube"></i></a></li>
								<li><a href="https://t.me/+rrCzEaO7r65hNDA1"><i class="fa fa-telegram"></i></a></li>
								
							</ul><!-- end links -->
						</div>						
                    </div><!-- end clearfix -->
                </div><!-- end col -->

				<div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Information Link</h3>
                        </div>
                        <ul class="footer-links">
													<li><a href="/">Home</a></li>
													<li><a href="{% url 'main:course_grid_2' %}">Medical course</a></li>
						<li><a href="{% url 'main:course_grid_3' %}">CA course</a></li>
						<li><a href="{% url 'main:course_grid_4' %}">other course</a></li>
						<li><a href="{% url 'main:about' %}">About</a></li>
						
											</ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->
				
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Contact Details</h3>
                        </div>

                        <ul class="footer-links">
                            <li><a href="mailto:entrancemaster2080@gmail.com">entrancemaster2080@gmail.com</a></li>
                            <li><a href="www.entrancemaster.com.np">www.entrancemaster.com.np</a></li>
                            
                            <li>+977-9815988048</li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->
				
            </div><!-- end row -->
        </div><!-- end container -->
    </footer><!-- end footer -->

    <div class="copyrights">
        <div class="container">
            <div class="footer-distributed">
                <div class="footer-center">                   
                    <p class="footer-company-name">All Rights Reserved. &copy; 2023 <a href="/">Entrancemaster.com.np</a></p>
                </div>
            </div>
        </div><!-- end container -->
    </div><!-- end copyrights -->

    <a href="" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="{% static 'assets/js/all.js' %}"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static 'assets/js/custom.js' %}"></script>

</body>
</html>
{% endblock %}